# Options -MultiViews 

SetEnvIfNoCase User-Agent "^EmailSiphon" bad_bot
SetEnvIfNoCase User-Agent "^EmailWolf" bad_bot
SetEnvIfNoCase User-Agent "^ExtractorPro" bad_bot
SetEnvIfNoCase User-Agent "^CherryPicker" bad_bot
SetEnvIfNoCase User-Agent "^NICErsPRO" bad_bot
SetEnvIfNoCase User-Agent "^Teleport" bad_bot
SetEnvIfNoCase User-Agent "^EmailCollector" bad_bot

<Limit GET POST>
Order Allow,Deny
Allow from all
Deny from env=bad_bot
</Limit>

RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} -f [OR]
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule .* - [L]

RewriteRule ^([A-Z])/$ search.php?letter=$1 [L]
RewriteRule ^search/$ search.php [L,QSA]
RewriteRule ^stock/([0-9]*)/(.*?)/$ stock.php?id=$1&code=$2 [L,QSA]
RewriteRule ^stock/([0-9]*)/(.*?)$ stock.php?id=$1&code=$2 [L,QSA]
